.center {
  text-align: center;
}

.fa-mr {
  margin-right: 0.33em;
}

.control-required {
  display: block;
  color: theme-color("danger");
  font-size: xx-small;
  text-transform: uppercase;
}

.btn-wide {
  padding-left: 3em;
  padding-right: 3em;
}

#signInForm {
  width: 400px;
}

.page {
  font-size: 20pt;
  text-align: center;

  .user-list {
    text-align: left;

    .user-item {
      cursor: pointer;
      display: block;
      padding: 0.5em;

      .user-pic {
        font-size: 36pt;
        margin-right: 1em;
        vertical-align: middle;
      }
    }
  }

  .target-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:100%;
    width:100%;
    border-spacing: 1em;
    border-collapse: separate;

    .target-item {
      height: 33%;
      width: 25%;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
    }
  }

  .score-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:100%;
    width:100%;
    border-spacing: 1em;
    border-collapse: separate;

    .score-item {
      height: 33%;
      width: 25%;
      cursor: pointer;
      text-align: center;

      .score-pic {
        font-size: 72pt;
        color: #000000;

        &.selected {
          color: #ffffff;
        }
      }
    }
    .score-star {
      vertical-align: bottom;
      padding-bottom: 1em;
    }
    .score-text {
      vertical-align: top;
      padding-top: 1em;
    }
  }
}

.colors-hr {
  background-color: #fd7e14;
}
.colors-pr {
  background-color: #007bff;
}
.colors-it {
  background-color: #8A2BE2;
}
.colors-fin {
  background-color: #dc3545;
}
.colors-recept {
  background-color: #ffc107;
}
.colors-office {
  background-color: #0e7439;
}
.colors-bill {
  background-color: #85c1e9;
}
.colors-care {
  background-color: #2ecc71;
}
.colors-driver {
  background-color: #f1948a;
}
.colors-courier {
  background-color:  #34495e ;
}