script(src="/twbs.bundle.js")
script(src="/fa.bundle.js")
script(src="/index.bundle.js")
style.
    html, body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }