doctype html
html
    head
        title= i18n('page_title')
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    body
        include header

        #page1
            noscript= i18n('error_noscript')
            div(style="text-align: center")
                img(src="/img/loader-large.gif" alt="")

        #page2(style="display: none")
            block content
