.page
    .pt-5.pb-3.center #{i18n('target_message')}
    .target-list
        each target in targets
            .target-item(data-id=target.id)
                i.fa.fa-globe.target-pic
                .target-name #{target.name}
