.page
    table.target-list
        each row in targets
            tr
                each target in row
                    if target
                        td.target-item(data-id=target.id, data-code=target.code, class="colors-" + target.code) #{target.name}
                    else
                        td &nbsp;
