.center {
  text-align: center;
}

.fa-mr {
  margin-right: 0.33em;
}

.control-required {
  display: block;
  color: theme-color("danger");
  font-size: xx-small;
  text-transform: uppercase;
}

.btn-wide {
  padding-left: 3em;
  padding-right: 3em;
}

#signInForm {
  width: 400px;
}

.user-list {
  text-align: left;
}
.user-item {
  .user-pic {
    font-size: 36pt;
    margin-right: 1em;
    vertical-align: middle;
  }
  cursor: pointer;
  display: block;
  padding: 0.5em;
  font-size: 16pt;
}

.target-list {
  display: flex;

  .target-item {
    cursor: pointer;
    display: inline;
    padding: 0.5em;
    font-size: 16pt;

    .target-pic {
      display: block;
      width: 100px;
      font-size: 50pt;
      text-align: center;
    }
    .target-name {
      display: block;
      width: 100px;
      text-align: center;
    }
  }
}

.score-list {
  display: flex;

  .score-item {
    cursor: pointer;
    display: inline;
    padding: 0.5em;
    font-size: 16pt;

    .score-pic {
      display: block;
      width: 100px;
      font-size: 50pt;
      text-align: center;

      &.selected {
        color: #ffff00 !important;
      }
    }

    .score-name {
      display: block;
      width: 100px;
      text-align: center;
    }
  }
}
